body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.detail-wrapper {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;

}

.detail-wrapper h2 {
  margin-bottom: 2rem;

}

.detail-wrapper li {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.detail-wrapper ul {
  margin-top: 2rem;
}

button {
  padding: 1rem 2rem;
  color: #313131;
  background: white;
  border: 2px solid black;
  margin-right: 2rem;
  font-weight: 600;
}

.info {
  margin-left: 10rem;
}

.active {
  background: linear-gradient(35deg, #494949, #313131);
  font-size: 1.5rem;
  color: white;
}
